* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/* Estilo de la barra de navegacion */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: #f0f0f0c7;
  padding-bottom: 1rem;
}
.flex-container #navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.flex-container #navbar ul li a {
  text-decoration-line: none;
  color: #000;
}
.flex-container #navbar ul li {
  padding: 1rem;
}
.flex-container #navbar ul:last-child {
  margin-right: 1rem;
}
.flex-container #logo {
  margin-top: 1rem;
  margin-left: 1rem;
}
/* estilo del showcase */
#show-case {
  height: 50vh;
}
#show-case div {
  width: 100%;
  height: 100%;
  background: url(../img/108183233_106045061192316_7885413860165145671_n.jpg)
    no-repeat center/contain;
}
#show-case div p {
  color: #ffff;
  font-size: 1rem;
  text-align: center;
  padding-top: 10%;
}
/* estilo de quienes somos */
#quienes-somos .flex-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-color: #000;
  height: 70vh;
}
#quienes-somos .flex-container #image-somos {
  background-image: url(../img/image5.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 80%;
  height: 100%;
}
#quienes-somos .flex-container p {
  color: #ffff;
}
/* Estilo de productos */
#productos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#productos {
  height: 40vh;
}
#productos .product-card {
  width: 30%;
  height: 100%;
  align-items: center;
}
#productos .product-card #wellhead-img {
  height: 45%;
  width: 45%;
  background: url("../img/conventional-oil-wellhead-tools.jpg") center
    center/cover no-repeat;
}
#productos .product-card #bop-double-img {
  height: 45%;
  width: 45%;
  background: url(../img/BOP-DOUBLE.jpg) center center/contain no-repeat;
}
#productos .product-card #bop-anular-img {
  height: 45%;
  width: 45%;
  background: url(../img/BOP-ANULAR.jpg) center center/contain no-repeat;
}
#productos .product-card #manifold-img {
  height: 45%;
  width: 45%;
  background: url(../img/manifold.png) center center/contain no-repeat;
}
#productos .product-card #hanger {
  height: 45%;
  width: 45%;
  background: url(../img/colgador.png) center center/contain no-repeat;
}

#contact {
  margin: 1rem;
}

/* Estilo del footer */

#container-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0c7;
  height: 15vh;
  padding: 0 0.5rem;
}
#container-footer ul li {
  display: inline-block;
}
#container-footer ul li img {
  height: 2rem;
  margin: 0.5rem;
}
#container-footer div p a {
  text-decoration: none;
  color: #000;
}
