* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo de la barra de navegacion */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: #f0f0f0c7;
  padding-bottom: 1rem;
  margin: auto;
}
.flex-container #navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.flex-container #navbar ul li a {
  text-decoration-line: none;
  color: #000;
}
.flex-container #navbar ul li {
  padding: 1rem;
}
.flex-container #navbar ul:last-child {
  margin-right: 1rem;
}
.flex-container #logo {
  margin-top: 1rem;
  margin-left: 1rem;
}
/* estilo del showcase */
#show-case {
  height: 50vh;
}
#show-case div {
  width: 100%;
  height: 100%;
  background: url(../img/ALMACEN.jpg) no-repeat center/contain;
}
#show-case div p {
  color: #ffff;
  font-size: 1rem;
  text-align: center;
  padding-top: 10%;
}
/* estilo de quienes somos */
#quienes-somos .flex-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-color: #000;
  height: 70vh;
}
#quienes-somos .flex-container #image-somos {
  background-image: url(../img/image5.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 80%;
  height: 100%;
}
#quienes-somos .flex-container p {
  color: #ffff;
}
/* Estilo de productos */
#productos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#productos .cabezal img,
#productos .BOPU img,
#productos .BOPA img {
  width: 50%;
  height: 50%;
}
#contact {
  margin: 1rem;
}
